/*General Styles*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	color: #555;
}

ul,
nav {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 0.75;
	color: #ff2a00;;
}

a:hover {
	opacity: 1;
}

a.btn {
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #3f51b5;
	opacity: 1;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

section:not(.hero):nth-child(even) {
	background-color: #f5f5f5;
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

hr {
	width: 250px;
	height: 3px;
	background-color: #3f51b5;
	border: 0;
	margin-bottom: 50px;
}

section h3.title {
	text-transform: capitalize;
	font: bold 32px "Open Sans", sans-serif;
	margin-bottom: 30px;
	text-align: center;
}

section p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;
}

@media (max-width: 800px) {
	section {
		padding: 50px 20px;
	}
}

/*Header Styles*/

header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 100px 0;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
	color: #fff;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

header h2 {
	font-family: "Quicksand", sans-serif;
	font-size: 50px;
	font-weight: 700;
}

header h4{
	text-align: center;
	font-size: 25px;
	font-weight: 400;
	padding-bottom: 3px;
}

header li{
	display: inline;
}

header nav ul li{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: -15px;
}

@media (max-width: 800px) {
	header {
		padding: 20px 50px;
		flex-direction: column;
	}

	header h2 {
		margin-bottom: 15px;
	}
}

/*Hero Styles*/

.hero {
	position: relative;
	justify-content: center;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}

.hero .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	background-color: #000;
}

.hero h1 {
	font: bold 60px "Open Sans", sans-serif;
	margin-bottom: 15px;
	color: #ff2a00;;
}

.hero h3 {
	font: normal 35px "Open Sans", sans-serif;
	margin-bottom: 40px;
	color: #ff2a00;
}

.hero a.btn {
	display: inline;
	background-color: transparent;
	color: #fff;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
}

.hero-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}

	.hero h1 {
		font-size: 48px;
	}

	.hero h3 {
		font-size: 24px;
	}

	.hero a.btn {
		padding: 15px 40px;
	}
}

/*Footer Section*/

footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #000;
	color: #fff;
	padding-top: 20px;
}

footer ul {
	display: flex;
}

footer ul li {
	margin-left: 16px;
}

footer ul li a i{
	margin: 0 5px;
}

footer ul li a:hover{
	color: #ff2a00;
	animation: 0.8s linkHover 0s forwards;
}

@keyframes linkHover{
	25%{
		color: #ffffff;
	}
	100%{
		color: #ffffff;
	}
}

footer p {
	text-transform: uppercase;
	font-size: 14px;
	opacity: 0.6;
	align-self: center;
}

@media (max-width: 1100px) {
	footer {
		flex-direction: column;
	}

	footer p {
		text-align: center;
		margin-bottom: 20px;
	}

	footer ul li {
		margin: 0 8px;
	}
}

/* CONTACT STYLES */
.contact{
	display: flex;
	justify-content: space-around;
	background-color: rgb(10, 8, 8);
}

.footer-item-container{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer-item li{
	padding-bottom: 5px;
	color: #ffffff;
	list-style-type: none;
	margin-right: 10px;
	margin-bottom: 10px;
	border-bottom: 2px solid transparent;
}

.footer-item li:hover{
	cursor: pointer;
	animation: 0.8s highlight 0s forwards;
}

.contact h3{
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
	color: #ffffff;
	padding-bottom: 20px;
	font-size: 25px;
}

@keyframes highlight{
	30%{
		border-bottom: 2px solid #ff2a00;
	}
	100%{
		border-bottom: 2px solid #ff2a00;
	}
}